/***************************************
* IoT Dashboard
* Version 1.0 - September 2017
***************************************/

/**
* 0 - Resets
* 1 - DRY
** 1.1 - Containers
** 1.2 - Circles
* 2 - Sidebar
* 3 - Dashboard
* 4 - Temperature
* 5 - Humidity
* 6 - Affluence
* 7 - Gases
* 8 - Map
* 9 - Circles
* 10 - Animations
**/

/****** 0 - Resets *****/
body{
    color: #444;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
    margin:0px;
    max-height: 100vh;
    padding:0px;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6{
    color: #073B4C;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    margin: 0px;
}


/** 1 - DRY **/

/* 1.1 - Containers */
#sidebar,
#dashboard{
    height: 100vh;
}

/* 1.2 - Card Titles */
.temperature__title,
.humidity__title,
.affluence__title,
.gases__title,
.map__title{
    font-size: 1.9rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* 1.3 - Circles */
.gauge-temperature,
.gauge-affluence,
.gauge-humidity{
    align-items: center;
    display: flex;
    justify-content: center;
}

/** 2 - Sidebar **/

#sidebar{
    background-color: #00B3BE;
}

/** 3 - Dashboard **/

#dash{
    background-color: #F3F3F3;
}

.card{
    background: #FFF;
    margin-top:20px;
    -webkit-box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.69);
    box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.69);
}

#temperature,
#affluence,
#humidity{
    height: 440px;

}

#greeting{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
}

#greeting > h1{
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 300;
    margin: 0px;
}

#gases{
    height: 250px;
}

#map{
    height: 290px;
}

/* 4 - Temperature */

.gauge-temperature.gauge svg circle{
    stroke: #00B3BE;
}

/* 5 - Humidity */
.humidity__title{}
#humidty > h4{
    color: #073B4C;
}
.gauge-humidity.gauge svg circle {
    stroke: #073B4C;
}

/* 6 - Affluence */
.gauge-affluence.gauge svg circle{
    stroke: #00B3BE;
}

.affluence__information{
    margin-top:20px;
}

.affluence__information > .row{
    align-items: center;
    display: flex;
}

.affluence__unique,
.affluence__last,
.affluence__dwell{
    display: flex;
    align-items: center;
    padding-right: 0px;
}

.affluence__unique .fa,
.affluence__last .fa,
.affluence__dwell .fa{
    color: #073B4C;
    font-size: 3rem;
}

.affluence__information p,
.affluence__information h6{
    margin: 0;
}

.affluence__unique div,
.affluence__last div,
.affluence__dwell div{
    padding: 0px;
}

.affluence__unique_info,
.affluence__last_info,
.affluence__dwell_info{
    color: #00B3BE;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.8rem;
}

/* 7 - Gases */
/* 8 - Map */

/* 9 - Circles */
.gauge {
    position: relative;
}

.gauge h2 {
    line-height: 125px;
    position: absolute;
    margin: 0px;
    text-align:center;
    width: 100%;
}

svg {
    transform: rotate(-90deg);
}

svg circle{
    stroke-linecap: round;
    stroke-width: 5;
}

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.gauge .circle_animation {
    animation: html 1s ease-out forwards;
    -webkit-animation: html 1s ease-out forwards;
}

/* 10 - Animations */

@-webkit-keyframes html {
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes html {
  to {
    stroke-dashoffset: 80;
  }
}

@-webkit-keyframes css {
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes css {
  to {
    stroke-dashoffset: 160;
  }
}
